body {
    margin: 0;
    padding: 0;
}

header#topheader {
    padding:15px;
}

aside#gameinfo {
    width: 200px;
    float: left;
}

div#container {
}

div#content {
    margin-left:200px;
}

span#title {
    margin-right: 200px;
}

canvas#board {
    background-image: url('/static/cell-empty.png');
    height: 401px;
    width: 501px;
}
